#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_DDCoind += debian/examples/*
DEB_INSTALL_MANPAGES_DDCoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix DDCoind USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f DDCoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake DDCoin-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/DDCoind:
	chmod +x $(cdbs_curdestdir)usr/bin/DDCoind
binary-post-install/DDCoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/DDCoin-qt
